<h1>Boards</h1>

<ul>
  <% _(boards).each(function (board) { %>
    <li><a href="#/board/<%= board.escape('id') %>"><%= board.escape("title") %></a></li>
  <% }) %>
</ul>

<div class="newBoard"></div>