<h1>Add Board</h1>

<form id="addBoard">
  
  <div class="form-group">
    <label>Title
      <input class="form-control" type="text" name="board[title]">
    </label>
  </div>
  
  <button class="btn btn-primary">Create new Board</button>
</form>