<h2>Add List</h2>
<form>
  
  <div class="form-group">
    <label>Title
      <input type="text" class="form-control listTitle" name="list[title]">
    </label>
  </div>
  
  <button class="btn btn-primary addList">Add List</button>
</form>